*.patch
*.orig
*.rej
*.rpm
*~
*.cmake
Makefile
matahari*.tbz2
matahari*.tgz
CMakeFiles
CMakeCache.txt
mock
matahari.init
matahari.sysconf
matahari-broker
matahari-broker.conf
matahari-broker.sysconf
*.build
*.check
*.spec.sed
tags
TAGS
install_manifest.txt
matahari.spec
