
*.o
*.patch
*.orig
*.rej
*.rpm
*.tbz2
*~
*.cmake
Makefile
src/config.h
INSTALL
src/matahari-host
src/qmf/com
matahari*.tbz2
CMakeFiles
CMakeCache.txt
mock
matahari-broker.init
matahari-broker.sysconf
build
build-win
