*.cmake
Makefile
build.counter
matahari*.tbz2
matahari*.tgz
matahari-matahari-*
CMakeFiles
CMakeCache.txt
install_manifest.txt
mock
*.build
*.check
*.spec
*.spec.sed
*~
*.patch
*.orig
*.rej
*.rpm
tags
TAGS
